
<!doctype html>
<html>
  <head>

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="main.css" />

    <!-- fontawesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- hover css -->
	<link rel="stylesheet" type="text/css" href="libs/Hover/css/hover.css" />
    
    <title>TLC</title>
  </head>
  <header>
    <nav style="position: fixed;width: 100%;top: 0; z-index: 99;" class="nv-fix navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">TLC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <div class="navbar ml-auto" id="navbarNavDropdown">
				<ul class="navbar-nav w-100">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Грузоперевозки </a>
						<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Грузоперевозки</a>
							<a class="dropdown-item" href="#1">Преимущества</a>
							<a class="dropdown-item" href="#2">Список Услуг</a>
							<a class="dropdown-item" href="#3">Тарифы</a>
							<a class="dropdown-item" href="#4">Автопарк</a>
							<a class="dropdown-item" href="#5">Контакты</a>
						</div>
					</li>
				</ul>
			</div>
				<div class="navbar" id="navbarNavDropdown">
					<ul class="navbar-nav w-100">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Такси </a>
							<div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="#page2">Такси</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		  </nav>
      </header>
  <body style="background-color: #FB9403;">



    <div style="margin-top:150px;" class="section" id="section2">
		<a name="1"></a>
		<div class="ct-holder">
				<div class="jumbotron cargo-jump bg-taxi">
					<h4 class="light taxibg">ПОЕЗДКИ ИЗ ГОРОДА В АЭРОПОРТ</h4>
                    <h4 class="light taxibg">ОТ ПАРТНЕРА ОФИЦИАЛЬНОГО ПЕРЕВОЗЧИКА АЭРОПОРТА ПУЛКОВО</h4>
                    <h4 class="light taxibg">ТЕЛЕФОН ДЛЯ ЗАКАЗА ТАКСИ: 8 (812) 677-86-35</h4>
					
						
				</div>
			</div>
    </div>

    <div class="ct-holder">
        <a name="2"></a>
        <div class="jumbotron cargo-jump">
            <h4 class="">О КОМПАНИИ «TLC»</h4>
            <hr class="my-4">
            <p class="cargo-text text-justify">«TLC» - партнер официального перевозчик аэропорта Пулково. Приоритетом компании является предоставление качественных и безопасных услуг для пассажиров, пребывающих в г. Санкт-Петербург и не только.</p>
            <p class="cargo-text text-justify">При работе ««TLC»» руководствуется жёсткими стандартами отбора автомобилей и водителей такси.</p>
            <p class="cargo-text text-justify">Выбирая нас, Вы будете уверены в том, что на в автомобилях Вас встретят доброжелательные водители, которые доставят Вас до места назначения с комфортом. </p>
            <hr class="my-4">
            <h5 class="cargo-jump">МЫ ЦЕНИМ ВАШЕ ВРЕМЯ И КОМФОРТ</h5>
            <ul class="cargo-ul"> 
                
                <li>Современный автопарк</li>
                <li>Быстрая подача авто</li>
                <li>Условия для всех пассажиров</li>
                <li>Профессиональные водители</li>
                <li>Безналичный расчет</li>
                <li>Круглосуточно</li>
                
            </ul>
        </div>
    </div>
    <div class="ct-holder">
        <a name="3"></a>
        <div class="jumbotron cargo-jump">
            <h4 class="">Тарифы</h4>
            <hr class="my-4">
            <% for (var i=0; i < tarifs.length; i++) {%>
                <h6><%= tarifs[i]%></h6>
                <div>
                    <table class="table table-dark" style="width: 100%; max-width: 100%; overflow-y : scroll; display:block;">
                        <thead>
                            <tr>
                                <th scope="row">#</th>
                                <% for (var j=0; j < place.length; j++) {%>
                                    <th scope="col" style="font-size: small;"><%= place[j]%> </th>
                                <%} %>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Цена</th>
                                <% 
                                    var priceSelected = 0;
                                    if (i == 0) {
                                        priceSelected = priceLowcost;
                                    }

                                    if (i == 1) {
                                        priceSelected = priceComfort;
                                    }

                                    if (i == 2) {
                                        priceSelected = priceBisnes;
                                    }

                                    if (i == 3) {
                                        priceSelected = priceMiniven;
                                    }

                                    if (i == 4) {
                                        priceSelected = priceVip;
                                    }

                                    for (var z=0; z < priceSelected.length; z++) {%>
                                    <td scope="col" style="font-size: small;"><%= priceSelected[z]%> </td>
                                <%} %>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            <%} %>
            
        </div>
    </div>
    

    <div style="margin-bottom: 30px;" class="section" id="section7">
        <a name="4"></a>

		
                <h2>Эконом класс</h2>
				<div class="container">
                    <div class="row mr-md-1 jopa">
                        
                        <% for (var i=0; i < taxiArrs["lowcost"]['imgs'].length; i++) {%>
                            
                                    <div class="col-lg-4 hideMePLZZZZZ1" id="hideMePLZ">
                                        <div class="card" style="width: 18rem;">
                                            <div id="carouselExampleControls0" class="carousel slide" data-interval="false" data-ride="carousel">
                                                <div class="carousel-inner">
                    
                                                    <div class="carousel-item active cardImg">
                                                    <img class="d-block w-100" src="<%= taxiArrs['lowcost']['imgs'][i] %>" alt="First slide">
                                                </div>
                
                                                </div>
                                            </div>

                                            <div class="card-body">
                                            <p class="card-text cardText textMustBeSHort"><%= taxiArrs['lowcost']['text'][i] %></p>
                                            <a href="#4"></a>
                                            </div>
                                        </div>
                                    </div>	
                                    <%} %>
                                </div>
                    
                    
				
					<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
						<button onclick="myFunction('1')" type="button" id="but" class="buttonKKKKek btn btn-primary btn-lg">Показать все</button>
					</div>
                </div>
                
                <h2>Комфорт класс</h2>
				<div class="container">
                    <div class="row mr-md-1 jopa">
                        
                        <% for (var i=0; i < taxiArrs["comfort"]['imgs'].length; i++) {%>
                            
                                    <div class="col-lg-4 hideMePLZZZZZ2" id="hideMePLZ">
                                        <div class="card" style="width: 18rem;">
                                            <div id="carouselExampleControls0" class="carousel slide" data-interval="false" data-ride="carousel">
                                                <div class="carousel-inner">
                    
                                                    <div class="carousel-item active cardImg">
                                                    <img class="d-block w-100" src="<%= taxiArrs['comfort']['imgs'][i] %>" alt="First slide">
                                                </div>
                
                                                </div>
                                            </div>

                                            <div class="card-body">
                                            <p class="card-text cardText textMustBeSHort"><%= taxiArrs['comfort']['text'][i] %></p>
                                            <a href="#4"></a>
                                            </div>
                                        </div>
                                    </div>	
                                    <%} %>
                                </div>
                    
                    
				
					<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
						<button onclick="myFunction('2')" type="button" id="but" class="buttonKKKKek btn btn-primary btn-lg">Показать все</button>
					</div>
                </div>
                
                <h2>Бизнес класс</h2>
				<div class="container">
                    <div class="row mr-md-1 jopa">
                        
                        <% for (var i=0; i < taxiArrs["bisnes"]['imgs'].length; i++) {%>
                            
                                    <div class="col-lg-4 hideMePLZZZZZ" id="hideMePLZ">
                                        <div class="card" style="width: 18rem;">
                                            <div id="carouselExampleControls0" class="carousel slide" data-interval="false" data-ride="carousel">
                                                <div class="carousel-inner">
                    
                                                    <div class="carousel-item active cardImg">
                                                    <img class="d-block w-100" src="<%= taxiArrs['bisnes']['imgs'][i] %>" alt="First slide">
                                                </div>
                
                                                </div>
                                            </div>

                                            <div class="card-body">
                                            <p class="card-text cardText textMustBeSHort"><%= taxiArrs['bisnes']['text'][i] %></p>
                                            <a href="#4"></a>
                                            </div>
                                        </div>
                                    </div>	
                                    <%} %>
                                </div>
                    
                    
				
					<!-- <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
						<button onclick="myFunction('3')" type="button" id="but" class="buttonKKKKek btn btn-primary btn-lg">Показать все</button>
					</div> -->
                </div>
                
                <h2>Минивэн</h2>
				<div class="container">
                    <div class="row mr-md-1 jopa">
                        
                        <% for (var i=0; i < taxiArrs["miniven"]["imgs"].length; i++) {%>
                            
                                    <div class="col-lg-4 hideMePLZZZZZ4" id="hideMePLZ">
                                        <div class="card" style="width: 18rem;">
                                            <div id="carouselExampleControls0" class="carousel slide" data-interval="false" data-ride="carousel">
                                                <div class="carousel-inner">
                    
                                                    <div class="carousel-item active cardImg">
                                                    <img class="d-block w-100" src="<%= taxiArrs['miniven']['imgs'][i] %>" alt="First slide">
                                                </div>
                
                                                </div>
                                            </div>

                                            <div class="card-body">
                                            <p class="card-text cardText textMustBeSHort"><%= taxiArrs['miniven']['text'][i] %></p>
                                            <a href="#4"></a>
                                            </div>
                                        </div>
                                    </div>	
                                    <%} %>
                                </div>
                    
                    
				
					<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
						<button onclick="myFunction('4')" type="button" id="but" class="buttonKKKKek btn btn-primary btn-lg">Показать все</button>
					</div>
                </div>
                
                <h2>VIP</h2>
				<div class="container">
                    <div class="row mr-md-1 jopa">
                        
                        <% for (var i=0; i < taxiArrs["vip"]['imgs'].length; i++) {%>
                            
                                    <div class="col-lg-4 hideMePLZZZZZ5" id="hideMePLZ">
                                        <div class="card" style="width: 18rem;">
                                            <div id="carouselExampleControls0" class="carousel slide" data-interval="false" data-ride="carousel">
                                                <div class="carousel-inner">
                    
                                                    <div class="carousel-item active cardImg">
                                                    <img class="d-block w-100" src="<%= taxiArrs['vip']['imgs'][i] %>" alt="First slide">
                                                </div>
                
                                                </div>
                                            </div>

                                            <div class="card-body">
                                            <p class="card-text cardText textMustBeSHort"><%= taxiArrs['vip']['text'][i] %></p>
                                            <a href="#4"></a>
                                            </div>
                                        </div>
                                    </div>	
                                    <%} %>
                                </div>
                    
                    
				
					<!-- <div class="d-flex justify-content-center" style="margin-bottom: 20px;">
						<button onclick="myFunction('5')" type="button" id="but" class="buttonKKKKek btn btn-primary btn-lg">Показать все</button>
					</div> -->
				</div>

        
        

    </div>
    
    <div style="margin-bottom: 30px;" class="section" id="section7">
        <a name="5"></a>
		<div class="ct-holder">
			<div class="card" style="width: 80%;">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A88d87182b28434faa2d02c0f55d5dafd39f5cc610c726ad560cba5c1346846a5&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true"></script>
				<div class="card-body">
					<h5 class="card-title">Адрес офиса:</h5>
					<p class=" cargo-text text-center">ООО "ТЛК"
						
						Санкт-Петербург, Дворцовая площадь,дом 1. корп.2 литер «А», офис 20
						Контактные телефоны:</p>
						<p class=" cargo-text text-center">
						8 (812) 111-11-11(тел/факс), <br>
						8-921-111-11-11,<br>
						8-911-111-11-11,<br>
						8-999-111-11-11
						</p>
				</div>
			</div>
			
		</div>
	</div>

    <script>
        var cardElmCLASS1 = document.getElementsByClassName('hideMePLZZZZZ1');
        
        var cardElmCLASS2 = document.getElementsByClassName('hideMePLZZZZZ2');
        
        var cardElmCLASS3 = document.getElementsByClassName('hideMePLZZZZZ3');
        
        var cardElmCLASS4 = document.getElementsByClassName('hideMePLZZZZZ4');
        
        var cardElmCLASS5 = document.getElementsByClassName('hideMePLZZZZZ5');
        

		
		for (let i=0; i < cardElmCLASS1.length; i++ ){
			if (i < 3){
				continue;
			} else {
				cardElmCLASS1[i].style.display = 'none'
			}

        }
        
        for (let i=0; i < cardElmCLASS2.length; i++ ){
			if (i < 3){
				continue;
			} else {
				cardElmCLASS2[i].style.display = 'none'
			}

        }
        
        for (let i=0; i < cardElmCLASS3.length; i++ ){
			if (i < 3){
				continue;
			} else {
				cardElmCLASS3[i].style.display = 'none'
			}

        }
        
        for (let i=0; i < cardElmCLASS4.length; i++ ){
			if (i < 3){
				continue;
			} else {
				cardElmCLASS4[i].style.display = 'none'
			}

        }
        
        for (let i=0; i < cardElmCLASS5.length; i++ ){
			if (i < 3){
				continue;
			} else {
				cardElmCLASS5[i].style.display = 'none'
			}

		}


		function myFunction(ind) {
            if (ind == 1) {
                if (cardElmCLASS1[4].style.display === "none") {
                    for (let i=3; i < cardElmCLASS1.length; i++ ){
                        cardElmCLASS1[i].style.display = 'block'
                        document.getElementById("but").innerHTML="Скрыть";
                    }
                } else {

                    for (let i=3; i < cardElmCLASS1.length; i++ ){
                        cardElmCLASS1[i].style.display = 'none'
                        document.getElementById("but").innerHTML="Показать все";
                    }

                }
            }

            if (ind == 2) {
                if (cardElmCLASS2[4].style.display === "none") {
                    for (let i=3; i < cardElmCLASS2.length; i++ ){
                        cardElmCLASS2[i].style.display = 'block'
                        document.getElementById("but").innerHTML="Скрыть";
                    }
                } else {

                    for (let i=3; i < cardElmCLASS2.length; i++ ){
                        cardElmCLASS2[i].style.display = 'none'
                        document.getElementById("but").innerHTML="Показать все";
                    }

                }
            }

            if (ind == 3) {
                if (cardElmCLASS3[4].style.display === "none") {
                    for (let i=3; i < cardElmCLASS3.length; i++ ){
                        cardElmCLASS3[i].style.display = 'block'
                        document.getElementById("but").innerHTML="Скрыть";
                    }
                } else {

                    for (let i=3; i < cardElmCLASS3.length; i++ ){
                        cardElmCLASS3[i].style.display = 'none'
                        document.getElementById("but").innerHTML="Показать все";
                    }

                }
            }

            if (ind == 4) {
                if (cardElmCLASS4[4].style.display === "none") {
                    for (let i=3; i < cardElmCLASS4.length; i++ ){
                        cardElmCLASS4[i].style.display = 'block'
                        document.getElementById("but").innerHTML="Скрыть";
                    }
                } else {

                    for (let i=3; i < cardElmCLASS4.length; i++ ){
                        cardElmCLASS4[i].style.display = 'none'
                        document.getElementById("but").innerHTML="Показать все";
                    }

                }
            }

            if (ind == 5) {
                if (cardElmCLASS5[4].style.display === "none") {
                    for (let i=3; i < cardElmCLASS5.length; i++ ){
                        cardElmCLASS5[i].style.display = 'block'
                        document.getElementById("but").innerHTML="Скрыть";
                    }
                } else {

                    for (let i=3; i < cardElmCLASS5.length; i++ ){
                        cardElmCLASS5[i].style.display = 'none'
                        document.getElementById("but").innerHTML="Показать все";
                    }

                }
            }
		}

		

	</script>

    <!-- bootstrap cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
</html>